.products {
  padding: 0 145px;
  padding-bottom: 60px;
  h1 {
    display: flex;
    justify-content: center;
    padding-bottom: 32px;
    font-size: 34px;
    font-weight: bold;
  }
  .product__cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    .best__product__card {
      text-decoration: none;
      color: $color-black;
      border-radius: 12px;
      background-color: $color-white;
      transition: $transition;
      &:hover {
        transform: translateY(-5px);
        box-shadow: 13px 10px 12px -6px rgba(34, 60, 80, 0.27);
      }
      img {
        width: 100%;
      }
      .product__info {
        padding: 8px 13px;
        h3 {
          font-size: 20px;
          padding-bottom: 8px;
        }
        h4 {
          font-size: 14px;
          padding-bottom: 4px;
        }
        .product__mark {
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding-bottom: 8px;
          .product__how__much {
            font-size: 18px;
          }
        }
      }
      .card__action {
        width: 100%;
        position: relative;
        z-index: 10;
        .add__shop {
          padding: 12px;
          background-color: $color-orange;
          border: none;
          cursor: pointer;
          border-radius: 8px;
          font-size: 14px;
          font-weight: bold;
          width: 100%;
          text-transform: uppercase;
          transition: background-color 0.3s ease;
          &:hover {
            background-color: darken($color-orange, 10%);
            color: #fff;
          }
        }
        .counter__control {
          display: flex;
          align-items: center;
          justify-content: space-between;
          background-color: #f5f5f5;
          border-radius: 8px;
          padding: 4px;

          button {
            width: 35px;
            height: 35px;
            border: none;
            background-color: $color-orange;
            border-radius: 6px;
            cursor: pointer;
            font-size: 18px;
            font-weight: bold;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: 0.2s;

            &:hover {
              background-color: orange;
              color: #fff;
            }
          }
          .count {
            font-weight: bold;
            font-size: 16px;
          }
        }
      }
    }
  }
}

@media (max-width: 1200px) {
  .product__cards,
  .categorie__products {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}

.categories {
  padding: 60px 90px;
  h1 {
    display: grid;
    justify-content: center;
    padding-bottom: 40px;
    font-size: 34px;
    font-weight: bold;
  }
  .categorie__products {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    .card {
      position: relative;
      overflow: hidden;
      border-radius: 12px;
      cursor: pointer;
      &:hover {
        .card-image {
          img {
            transform: scale(1.01);
          }
        }
      }
      .card-image {
        width: 100%;
        height: 100%;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
      .card-overlay {
        position: absolute;
        bottom: -120px;
        left: 0;
        width: 100%;
        background: rgba(0, 0, 0, 0.85);
        padding: 20px 0;
        text-align: center;
        transition: bottom 0.3s ease-in-out;
        z-index: 2;
      }
      .card-title {
        color: orange;
        margin: 0;
        font-size: 24px;
        font-weight: bold;
        text-transform: uppercase;
      }
      &:hover {
        .card-overlay {
          bottom: 0;
        }
        .card-image img {
          transform: none;
        }
      }
    }
  }
}

.categorie-product {
  padding: 64px 145px;
  h1 {
    display: flex;
    justify-content: center;
    padding-bottom: 24px;
  }
  .categorie__products__container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    .categorie__product__wrapper {
      border-radius: 8px;
      background-color: $color-white;
      text-decoration: none;
      color: $color-black;
      transition: $transition;
      &:hover {
        img {
          transform: scale(1.01);
        }
      }
      img {
        padding-bottom: 24px;
      }
      p {
        display: flex;
        justify-content: center;
        font-size: 24px;
        line-height: 130%;
      }
    }
  }
}

.product-shop {
  padding: 72px 145px;
  .shop__product__wrappers {
    display: grid;
    gap: 24px;
    padding-bottom: 40px;
    .shop__product__card {
      background-color: $color-white;
      display: flex;
      border-radius: 12px;
      .shop__product__img {
        img {
          border-radius: 12px;
        }
      }
      .shop__product__about {
        display: grid;
        padding: 20px 30px;
        .shop__product__top {
          display: flex;
          align-items: center;
          justify-content: space-between;
          padding-bottom: 50px;
          h1 {
            font-size: 24px;
            line-height: 140%;
            padding: 0;
          }
          .delate__btn {
            border: none;
            background-color: $color-white;
            font-size: 24px;
            cursor: pointer;
          }
        }
        .shop__product__info {
          padding-bottom: 30px;
          p {
            font-size: 16px;
            line-height: 160%;
          }
        }
        .shop__product__bottom {
          display: flex;
          align-items: center;
          justify-content: space-between;
          .shop__product__bottom__left {
            display: flex;
            gap: 40px;
            .shop__product__price {
              font-size: 16px;
              line-height: 140%;
            }
            .shop__product__size {
              display: flex;
              gap: 13px;
              align-items: end;
              h3 {
                font-size: 16px;
                line-height: 140%;
                font-weight: normal;
              }
              .shop__product__size__see {
                font-size: 16px;
                line-height: 24px;
                font-weight: 700;
              }
            }
          }
          .shop__product__bottom__right {
            .counter__control {
              display: flex;
              align-items: center;
              justify-content: space-between;
              background-color: #f5f5f5;
              border-radius: 8px;
              padding: 4px;
              width: 100px;
              button {
                width: 35px;
                height: 35px;
                border: none;
                background-color: $color-orange;
                color: #fff;
                border-radius: 6px;
                cursor: pointer;
                font-size: 18px;
                font-weight: bold;
                display: flex;
                align-items: center;
                justify-content: center;
                transition: 0.2s;

                &:hover {
                  background-color: orange;
                  color: black;
                }
              }
              .count {
                font-weight: bold;
                font-size: 16px;
              }
            }
          }
        }
      }
    }
  }
  .shop__product__wrapper__bottom {
    display: flex;
    justify-content: space-between;
    gap: 12px;
    align-items: center;
    .shop__product__all__price {
      display: flex;
      align-items: flex-end;
      gap: 16px;
      .shop__product__change__price {
        font-size: 16px;
        line-height: 140%;
        font-weight: 400;
        padding: 0;
        display: flex;
        align-items: end;
      }
    }
    .shop__product__order {
      text-decoration-line: none;
      .shop__add__btn {
        cursor: pointer;
        padding: 16px 50px;
        font-size: 16px;
        line-height: 140%;
        font-weight: 600;
        border: none;
        border-radius: 8px;
        background-color: $color-orange;
        &:hover {
          background-color: orange;
          color: #fff;
        }
      }
    }
  }
}
