.products {
  padding: 0 145px;
  h1 {
    display: flex;
    justify-content: center;
    padding-bottom: 32px;
    font-size: 34px;
    font-weight: bold;
  }
  .product__cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    .best__product__card {
      border-radius: 12px;
      background-color: $color-white;
      img {
        width: 100%;
      }
      .product__info {
        padding: 8px 13px;
        h3 {
          font-size: 20px;
          padding-bottom: 8px;
        }
        h4 {
          font-size: 14px;
          padding-bottom: 4px;
        }
        .product__mark {
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding-bottom: 8px;
          .product__size {
            font-size: 18px;
          }
        }
      }
    }
  }
}

.categories {
  padding: 60px 90px;
  h1 {
    display: grid;
    justify-content: center;
    padding-bottom: 40px;
    font-size: 34px;
    font-weight: bold;
  }
  .categorie__products {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    .card {
      position: relative;
      width: 300px;
      height: 400px;
      overflow: hidden;
      border-radius: 12px;
      cursor: pointer;
      .card-image {
        width: 100%;
        height: 100%;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
      .card-overlay {
        position: absolute;
        bottom: -120px;
        left: 0;
        width: 100%;
        background: rgba(0, 0, 0, 0.85);
        padding: 20px 0;
        text-align: center;
        transition: bottom 0.3s ease-in-out;
        z-index: 2;
      }
      .card-title {
        color: orange;
        margin: 0;
        font-size: 24px;
        font-weight: bold;
        text-transform: uppercase;
      }
      &:hover {
        .card-overlay {
          bottom: 0;
        }
        .card-image img {
          transform: none;
        }
      }
    }
  }
}
