.ad {
  background-color: rgba(15, 13, 43, 1);
  display: flex;
  justify-content: space-between;
  padding: 0 145px;
  gap: 25px;
  margin-bottom: 60px;
  position: relative;
  margin-top: 170px;
  .add__img {
    img {
      position: absolute;
      top: -40%;
    }
  }
  .add__info {
    width: 60%;
    display: grid;
    padding: 60px 0;
    h1 {
      color: $color-white;
      font-size: 34px;
      padding-bottom: 30px;
    }
    p {
      color: $color-white;
      font-size: 18px;
      padding-bottom: 30px;
    }
    .ad__btns {
      display: flex;
      gap: 30px;
      button {
        border: none;
        padding: 2px 8px;
        border-radius: 8px;
        cursor: pointer;
        transition: $transition;
        &:hover {
          transform: translateY(-5px);
        }
      }
    }
  }
}

.clothes {
  padding: 60px 0;
  display: flex;
  .clothes__info {
    padding: 101px 145px 101px 30px;
    display: grid;
    background-color: $color-white;
    h1 {
      font-size: 34px;
      color: $color-black;
      padding-bottom: 24px;
    }
    p {
      font-size: 16px;
      color: $color-black;
      padding-bottom: 24px;
    }
    button {
      padding: 4px 10px;
      background-color: $color-orange;
      border: 1px solid transparent;
      width: 200px;
      border-radius: 8px;
      transition: $transition;
      a {
        text-decoration: none;
        font-size: 14px;
        font-weight: bolder;
        color: $color-black;
      }
      &:hover {
        box-shadow: 0 0 0 1px $color-black;
        border: 1px solid $color-black;
        background-color: $color-white;
        transform: scale(0.98);
      }
    }
  }
}

.discount {
  background-color: $color-orange;
  padding: 170px 300px;
  p {
    font-size: 44px;
    font-weight: bolder;
    span {
      font-size: 66px;
    }
  }
}

.about-us {
  padding: 60px 145px;
  h1 {
    display: flex;
    justify-content: center;
    padding-bottom: 25px;
  }
  .about__us__info {
    display: flex;
    gap: 130px;
    .us__info {
      display: grid;
      column-gap: 24px;
      margin-top: 60px;
      h3 {
        font-size: 24px;
        font-weight: bold;
      }
      p {
        font-size: 16px;
      }
    }
    .us__img {
      img {
        border-radius: 6px;
      }
    }
  }
}

.work-time {
  padding-top: 150px;
  padding-bottom: 60px;
  display: flex;
  .working__time {
    padding: 0 145px;
    h1 {
      font-size: 42px;
      font-weight: bold;
      padding-bottom: 65px;
    }
    .branches {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-column: 36px;
      gap: 128px;
      font-size: 18px;
      h4 {
        font-weight: bolder;
        line-height: 32px;
        padding-bottom: 8px;
      }
    }
  }
}

.product-page {
  padding: 64px 145px;
  display: flex;
  gap: 100px;
  .product__left__imgs {
    .top__img {
      padding-bottom: 16px;
      img {
        width: 100%;
        border-radius: 8px;
      }
    }
    .bottom__imgs {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 15px;
      img {
        width: 100px;
        border-radius: 8px;
      }
    }
  }
  .product__right {
    .product__intro {
      font-size: 34px;
      font-weight: 700;
      line-height: 140%;
      padding-bottom: 16px;
    }
    .rating {
      padding-bottom: 10px;
    }
    .product__info {
      font-size: 16px;
      font-weight: 400;
      line-height: 140%;
      padding-bottom: 4px;
    }
    .more {
      border: none;
      background-color: $color-white;
      cursor: pointer;
      margin-bottom: 8px;
    }
    .product__price {
      font-size: 34px;
      font-weight: 700;
      line-height: 140%;
      padding-bottom: 16px;
    }
    .sizes {
      h4 {
        font-size: 16px;
        font-weight: 400;
        line-height: 140%;
        padding-bottom: 8px;
      }
      .size__btns {
        display: flex;
        gap: 8px;
        .product__size__btn {
          border: 1px solid $color-black;
          padding: 8px;
          cursor: pointer;
          margin-bottom: 24px;
        }
      }
    }
    .card__action {
      width: 400px;
      position: relative;
      z-index: 10;
      .add__shop {
        padding: 12px;
        background-color: $color-orange;
        border: none;
        cursor: pointer;
        border-radius: 8px;
        font-size: 14px;
        font-weight: bold;
        width: 100%;
        text-transform: uppercase;
        transition: background-color 0.3s ease;
        &:hover {
          background-color: darken($color-orange, 10%);
          color: #fff;
        }
      }
      .counter__control {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: #f5f5f5;
        border: 1px solid $color-black;
        border-radius: 8px;
        padding: 4px;
        transform: scale(0.98);
        button {
          width: 35px;
          height: 35px;
          border: none;
          background-color: $color-orange;
          border-radius: 6px;
          cursor: pointer;
          font-size: 18px;
          font-weight: bold;
          display: flex;
          align-items: center;
          justify-content: center;
          transition: 0.2s;

          &:hover {
            background-color: $color-orange;
            color: #fff;
          }
        }
        .count {
          font-weight: bold;
          font-size: 16px;
        }
      }
    }
    .our__benefits {
      padding-top: 24px;
      .benefit__intro {
        font-size: 24px;
        font-weight: 700;
        line-height: 140%;
        padding-bottom: 24px;
      }
      .benefit__wrapper {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 16px;
        span {
          cursor: pointer;
          display: flex;
          gap: 16px;
          align-items: center;
        }
      }
    }
  }
}
