* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat";
}

@font-face {
  font-family: "Montserrat";
  src: url(../../fonts/Montserrat-Regular.ttf);
}

.container {
  margin: 0 auto;
  max-width: 1440px;
  width: 100%;
  background-color: #f8f9fb;
  border-left: 1px solid $color-orange;
  border-right: 1px solid $color-orange;
}

a .active {
  background: red;
  color: black;
}
